@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/*Navy Blue
#05445e

Blue Grotto
#189ab4

Blue Green
#75e6da

Baby Blue
#d4f1f4*/

:root {
    font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #05445e;
    background-color: #d4f1f4;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #05445e;
    text-decoration: inherit;
    cursor: pointer;
}

a.selected {
    text-decoration: underline;
}

a:hover {
    color: #189ab4;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;

    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

#app {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.unicon {width: 2em; height: 2em;}
